/* Home.css */
.home-layout {
  display: flex;
  min-height: 100vh;
}

.home-container {
  margin-left: 250px;  /* Adjust this based on your sidebar width */
  padding: 20px;
  flex-grow: 1;
}

.home-welcome {
  margin-bottom: 20px;
}

.home-welcome-text {
  font-size: 2rem;
  color: #2e7d32; /* Adjust color if needed */
}

.home-total-amount {
  font-size: 1.5rem;
  margin-top: 10px;
}

.home-edit-btn {
  margin-top: 20px;
}
