/* Sidebar Styles */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2d6a4f;
  color: white;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 100; /* Keep sidebar on top of body content */
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.sidebar ul li:hover {
  background-color: #40916c;
}
